<!-- ============================ Hero Image =========================== -->

<section id="hero" class="scrollme">
    <div class="container-fluid element-img" style="background: url(<%- theme.cover %>) no-repeat center center fixed;background-size: cover">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 vertical-align cover boost text-center">
                <div class="center-me animateme" data-when="exit" data-from="0" data-to="0.6" data-opacity="0" data-translatey="100">
                    <div>
                        <% theme.top_saying.forEach(function(item){ %>
                        <h2><%- item.title %></h2>
                        <p><%- item.content %></p>
                        <% }); %>

                    </div>
                </div>
            </div>
            <!-- // .col-md-12 -->
        </div>
        <div class="herofade beige-dk"></div>
    </div>
</section>

<!-- Height spacing helper -->
<div class="heightblock"></div>
<!-- // End height spacing helper -->

<!-- ============================ END Hero Image =========================== -->
<section id="intro">
    <div class="container">
        <div class="row col-md-offset-2">
            <div class="col-md-8">
                <h1><%- post.title %></h1>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <%- post.content %>
            <div class="clearfix"></div>
        </div>
        
    </div>
</section>
<section id="process">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="timeline-centered">
                    <div class="line"></div>
                    <div class="present">Past</div>
                    <div class="dot_tp"></div>
                    <div class="born">Now</div>
                    <div class="dot_bt"></div>
                    <% theme.timeline.forEach(function(item){ %>
                        <div class="timeline-entry">
                            <div class="timeline-entry-inner">
                                <div class="timeline-icon wow fadeInUp" data-wow-delay="0.2s">
                                    <span class="number"><%- item.num %></span>
                                </div>
                                <div class="timeline-label wow fadeInUp" data-wow-delay="0.2s">
                                    <p><%- item.word %></p>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <!-- timeline-centered -->
            </div>
        </div>
    </div>
</section>