<!DOCTYPE html>
<!--[if lte IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--
***************  *      *     *
      8          *    *       *
      8          *  *         *
      8          **           *
      8          *  *         *
      8          *    *       *
      8          *      *     *
      8          *        *   ***********  Theme By Kieran(http://go.kieran.top)
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<!--<![endif]-->
<%- partial('_partial/head') %>
<!--<% if (typeof page.title == 'undefined') { %>
<body class="home-template">
<% } else { %>
<body class="post-template">
<% } %>-->
<body id="index" class="lightnav animsition">

      <%- partial('_partial/header') %>
      <%- body %>
      <%- partial('_partial/footer') %>
      <%- partial('_partial/after_all') %>
      <% if (theme.local_search.enable) { %>
            <%- partial('_partial/search') %>
      <% } %>
</body>
</html>
