<!-- ============================ Hero Image =========================== -->

<section id="hero" class="scrollme">
    <div class="container-fluid element-img" style="background: url(<%- theme.cover %>) no-repeat center center fixed;background-size: cover">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 vertical-align cover boost text-center">
                <div class="center-me animateme" data-when="exit" data-from="0" data-to="0.6" data-opacity="0" data-translatey="100">
                    <div>
                        <% theme.top_saying.forEach(function(item){ %>
                        <h2><%- item.title %></h2>
                        <p><%- item.content %></p>
                        <% }); %>

                    </div>
                </div>
            </div>
            <!-- // .col-md-12 -->
        </div>
        <div class="herofade beige-dk"></div>
    </div>
</section>

<!-- Height spacing helper -->
<div class="heightblock"></div>
<!-- // End height spacing helper -->

<!-- ============================ END Hero Image =========================== -->

<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>

<% if (pagination == 2){ %>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row boxes">
                    <% var i=0 %>
                    <% page.posts.each(function(item){ %>
                        <% if(i==4){ %>
                            </div><div class="row boxes">
                            <% i=0 %>
                        <% } %>
                        <% i++ %>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                            <% if (item.link){ %>
                            <% if (item.title){ %>
                              <h4 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h4>
                            <% } else { %>
                              <h4 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h4>
                            <% } %>
                            <% } else { %>
                              <h4 class="title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h4>
                            <% } %>
                            <p><time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time></p>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <nav class="pagination" role="pagination">
            <% if (page.prev) { %><a class="pull-left" href="<%- url_for(page.prev_link) %>">← Prev Page</a><% } %>
            <% if (page.next) { %><a class="pull-right" href="<%- url_for(page.next_link) %>">Next Page →</a><% } %>
        </nav>
    </div>
</section>
<% } else { %>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row boxes">
                    <% var i=0 %>
                    <% page.posts.each(function(item){ %>
                        <% if(i==4){ %>
                            </div><div class="row boxes">
                            <% i=0 %>
                        <% } %>
                        <% i++ %>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                            <% if (item.link){ %>
                            <% if (item.title){ %>
                              <h4 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h4>
                            <% } else { %>
                              <h4 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h4>
                            <% } %>
                            <% } else { %>
                              <h4 class="title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h4>
                            <% } %>
                            <p><time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time></p>
                        </div>
                    <% }); %>
                </div>
            </div>    
        </div>
    </div>
</section> 
<% } %>
<section id="statement">
    <div class="container text-center wow fadeInUp" data-wow-delay="0.5s">
        <div class="row">
            <p><%- theme.bottom_saying %></p>
        </div>
    </div>
</section>